<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="#" class="site_title"><i class="fa {{siteIcon}}"></i><span>{{siteTitle}}</span></a>
    </div>

    <div class="clearfix"></div>

    <br/>
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div *ngFor="let section of menuSections; let i = index" class="menu_section"
           [attr.data-section-index]="i">
        <h3>{{section.name}}</h3>
        <ul #menu class="nav side-menu">
          <li *ngFor="let group of section.groups; let j = index"
              [attr.data-group-index]="j"
              [class.active]="group.active && !small"
              [class.active-sm]="group.active && small">
            <a (click)="menuGroupClick(i, j)">
              <i class="fa {{group.icon}}"></i> {{group.name}} <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
              <li *ngFor="let item of group.items" [class.current-page]="isItemActive(item)">
                <a [routerLink]="[item.path]">{{item.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->

    <!-- menu footer buttons-->
    <div class="sidebar-footer hidden-small">
      <!--a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a-->
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>
