.vcenter {
  vertical-align: middle;
  line-height: 60px;
}

.fa-code {
  -webkit-transform: translateX(-4px) translateY(-1px);
  -moz-transform: translateX(-4px) translateY(-1px);
  -ms-transform: translateX(-4px) translateY(-1px);
  -o-transform: translateX(-4px) translateY(-1px);
  transform: translateX(-4px) translateY(-1px);
}

.fa-exchange {
  -webkit-transform: translateX(-3px) translateY(-1px);
  -moz-transform: translateX(-3px) translateY(-1px);
  -ms-transform: translateX(-3px) translateY(-1px);
  -o-transform: translateX(-3px) translateY(-1px);
  transform: translateX(-3px) translateY(-1px);
}
