<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-12 source-label">Name</div>
  <div class="col-md-6 col-sm-6 col-xs-12 source-property">{{source.name}}</div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-12 source-label">URL</div>
  <div class="col-md-6 col-sm-6 col-xs-12 source-property">{{source.url}}</div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-12 source-label">Type</div>
  <div class="col-md-6 col-sm-6 col-xs-12 source-property">{{source.pluginIdentifier}}</div>
</div>
<div class="row" *ngFor="let settingsField of source.settings">
  <div class="col-md-3 col-sm-3 col-xs-12 source-label">{{settingsField.name | capitalize}}</div>
  <div class="col-md-6 col-sm-6 col-xs-12 source-property">{{settingsField.value}}</div>
</div>
